.error-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #f8d7da;
  color: #721c24;
}
.error-page-content {
  width: 300px;
  padding: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 10px;
  background-color: #ffffff;
}
.error-page-icon {
  font-size: 4em;
  margin-bottom: 20px;
}
.error-page-message {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.error-page-retry-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
