.app-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  border: 10px solid red;
}

.app-content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  border: 10px solid blue;
}

.sidebar {
  flex: 1 1 30%;
  border: 10px solid yellow;
}

.main-content {
  flex: 1 1 70%;
  border: 10px solid green;
}


@media screen and (max-width: 768px) {
  .app-content {
    flex-direction: column;
  }

  .sidebar, .main-content {
    flex: 1 1 100%;
  }
  
}
